/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

:root {
  --clr-cyan-600: hsl(192, 37%, 48%);
  --clr-cyan-400: hsl(192, 54%, 64%);
  --clr-cyan-300: hsl(192, 90%, 77%);

  --clr-purple-600: hsl(268, 34%, 53%);
  --clr-purple-400: hsl(268, 55%, 71%);
  --clr-purple-300: hsl(268, 100%, 86%);

  --clr-slate-900: hsl(240, 21%, 20%);
  --clr-slate-600: hsl(240, 10%, 57%);
  --clr-slate-300: hsl(240, 18%, 85%);
  --clr-white: hsl(0, 0%, 98%);

  --fs-heading-1: clamp(2.5rem, 1.176rem + 4.412vw, 4rem);
  --fs-heading-2: clamp(2rem, 1.559rem + 1.471vw, 2.5rem);
  --fs-body: clamp(1rem, 0.89rem + 0.368vw, 1.125rem);
  --fs-overline: clamp(0.75rem, 0.529rem + 0.735vw, 1rem);

  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-800: 4rem;
  --spacing-1000: 5rem;
  --spacing-1200: 7rem;

  --content-max-width: 560px;
  --breakout-max-width: 1120px;
  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );
}

/* typo */

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: var(--fs-body);
  font-weight: 600;
  color: var(--clr-slate-600);
  background-color: var(--clr-white);
  overflow-x: hidden;
}

h1 {
  font-size: var(--fs-heading-1);
  color: var(--clr-slate-900);
  font-weight: 900;
}

h2,
.h2 {
  font-size: var(--fs-heading-2);
  color: var(--clr-slate-900);
  font-weight: 900;
  text-wrap: balance;
}

.overline {
  font-size: var(--fs-overline);
  color: var(--clr-cyan-600);
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

/* layouts */

.content-grid {
  display: grid;
  grid-template-columns:
    [full-width-start]
    minmax(var(--spacing-200), 1fr)
    [breakout-start]
    minmax(0, var(--breakout-size))
    [content-start]
    min(100% - (var(--spacing-400) * 2), var(--content-max-width))
    [content-end]
    minmax(0, var(--breakout-size))
    [breakout-end]
    minmax(var(--spacing-200), 1fr)
    [full-width-end];

  > * {
    grid-column: content;
  }
}

.content-grid .full-width {
  grid-column: full-width;
}

.content-grid .breakout {
  grid-column: breakout;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  row-gap: var(--spacing-600);

  [data-image="left"] {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  [data-image="right"] {
    grid-column: 2 / 4;
    grid-row: 1;
  }

  .hero-content {
    grid-column: 1 / -1;
    max-width: var(--content-max-width);
    padding-inline: var(--spacing-400);
  }

  @media (min-width: 90rem) {
    grid-template-columns: subgrid;

    .hero-content {
      grid-column: 3 / 4;
    }

    [data-image="left"] {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      justify-self: flex-start;
    }

    [data-image="right"] {
      grid-column: 4 / 6;
      justify-self: flex-end;
    }
  }
}

.hero-content {
  display: flex;
  flex-flow: column;
  gap: var(--spacing-300);
  align-items: center;
}

[data-image] {
  position: relative;

  &[data-image="left"] {
    left: clamp(-1.75rem, -2.125rem + 1.25vw, -1rem);
  }

  &[data-image="right"] {
    right: clamp(-1.75rem, -2.125rem + 1.25vw, -1rem);
  }
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-200);
  justify-content: center;
}

.support {
  display: grid;
  justify-items: center;

  .image-grid {
    order: -1;
  }

  .h2 {
    margin-block: var(--spacing-200) var(--spacing-400);
  }
}

.image-grid {
  margin-block-start: clamp(12.5rem, 10rem + 8.333vw, 17.5rem);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-300);
  padding-block: var(--spacing-800);
  padding-block-start: 5.75rem; /* take account of number above */
  justify-items: center; /* horizontally center number */

  img {
    border-radius: 0.5rem;
  }

  @media (min-width: 48rem) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-300);
  justify-content: center;

  > * {
    flex-grow: 1;
    flex-basis: calc((50rem - 100%) * 999);
    align-self: flex-start;
    color: var(--clr-white);
  }
}

/* header & footer */

header {
  display: flex;
  justify-content: center;
  margin-block-start: clamp(
    var(--spacing-600),
    -3rem + 12.5vw,
    var(--spacing-1000)
  );
  margin-block-end: var(--spacing-600);
}

footer {
  margin-block-start: 10.75rem;
  padding-block: clamp(var(--spacing-600), -9rem + 25vw, var(--spacing-1200));
  justify-items: center;

  background-image:
    linear-gradient(hsl(from var(--clr-cyan-600) h s l / 0.85)),
    url("./assets/desktop/image-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* buttons */

.button {
  text-decoration: none;
  color: var(--clr-white);
  padding: var(--spacing-200) var(--spacing-500);
  border-radius: 100vw;
  max-width: fit-content;
  transition: background 200ms ease-in;

  &:focus-visible {
    outline: 2px solid var(--clr-white);
    outline-offset: -4px;
  }

  &[data-theme="primary"] {
    background-color: var(--clr-cyan-600);

    span {
      color: var(--clr-cyan-300);
    }

    &:hover {
      background-color: var(--clr-cyan-400);
    }
  }

  &[data-theme="secondary"] {
    background-color: var(--clr-purple-600);

    span {
      color: var(--clr-purple-300);
    }

    &:hover {
      background-color: var(--clr-purple-400);
    }
  }
}

/* section numbers */

[data-number] {
  position: relative;

  &::before {
    content: attr(data-number);
    font-weight: 900;
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid var(--clr-slate-300);
    background-color: var(--clr-white);
    border-radius: 100vw;
    top: -1.75rem;
  }

  &::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 5rem;
    background-color: var(--clr-slate-300);
    top: calc(-1.75rem - 5rem);
  }
}

/* utilities */

.text-center {
  text-align: center;

  &[data-text-left="wide"] {
    @media (min-width: 56rem) {
      text-align: left;
    }
  }
}
