/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

:root {
  --clr-cyan-600: hsl(192, 37%, 48%);
  --clr-purple-600: hsl(268, 34%, 53%);

  --clr-cyan-300: hsl(192, 90%, 77%);
  --clr-purple-300: hsl(268, 100%, 86%);

  --clr-slate-900: hsl(240, 21%, 20%);
  --clr-slate-600: hsl(240, 10%, 57%);
  --clr-slate-300: hsl(240, 18%, 85%);
  --clr-white: hsl(0, 0%, 98%);

  --fs-heading-1: clamp(2.5rem, 1.176rem + 4.412vw, 4rem);
  --fs-heading-2: clamp(2rem, 1.559rem + 1.471vw, 2.5rem);
  --fs-body: clamp(1rem, 0.89rem + 0.368vw, 1.125rem);
  --fs-overline: clamp(0.75rem, 0.529rem + 0.735vw, 1rem);

  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-800: 4rem;
  --spacing-1000: 5rem;
  --spacing-1200: 7rem;
}

/* typo */

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: var(--fs-body);
  font-weight: 600;
  color: var(--clr-slate-600);
  background-color: var(--clr-white);
}

h1 {
  font-size: var(--fs-heading-1);
  color: var(--clr-slate-900);
  font-weight: 900;
}

h2,
.h2 {
  font-size: var(--fs-heading-2);
  color: var(--clr-slate-900);
  font-weight: 900;
  text-wrap: balance;
}

.overline {
  font-size: var(--fs-overline);
  color: var(--clr-cyan-600);
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

/* layouts */

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: var(--spacing-600);

  .hero-content {
    grid-column: 1 / -1;
    order: 1;
  }

  [data-image="left"] {
    justify-self: flex-end;
  }

  @media (min-width: 80rem) {
    grid-template-columns: auto 1fr auto;
    column-gap: var(--spacing-400);

    .hero-content {
      grid-column: 2 / 3;
    }

    [data-image="right"] {
      order: 1;
    }
  }
}

.hero-content {
  display: flex;
  flex-flow: column;
  gap: var(--spacing-300);
  align-items: center;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-200);
  justify-content: center;
}

.support {
  display: grid;
  margin-block-start: clamp(12.5rem, 10rem + 8.333vw, 17.5rem);

  .image-grid {
    order: -1;
  }

  .h2 {
    margin-block: var(--spacing-200) var(--spacing-400);
  }
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-300);
  padding-block: var(--spacing-800);

  @media (min-width: 48rem) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-300);
  justify-content: center;

  > * {
    flex-grow: 1;
    flex-basis: calc((50rem - 100%) * 999);
    align-self: flex-start;
  }
}

/* header & footer */

header {
  display: flex;
  justify-content: center;
  margin-block-start: clamp(
    var(--spacing-600),
    -3rem + 12.5vw,
    var(--spacing-1000)
  );
  margin-block-end: var(--spacing-600);
}

footer {
  margin-block-start: 10.75rem;
  padding-block: clamp(var(--spacing-600), -9rem + 25vw, var(--spacing-1200));
  background-image:
    linear-gradient(hsl(from var(--clr-cyan-600) h s l / 0.85)),
    url("./assets/desktop/image-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  > * {
    color: var(--clr-white);
  }
}

/* buttons */

.button {
  text-decoration: none;
  color: var(--clr-white);
  padding: var(--spacing-200) var(--spacing-500);
  border-radius: 100vw;
  max-width: fit-content;

  &[data-theme="primary"] {
    background-color: var(--clr-cyan-600);

    span {
      color: var(--clr-cyan-300);
    }
  }

  &[data-theme="secondary"] {
    background-color: var(--clr-purple-600);

    span {
      color: var(--clr-purple-300);
    }
  }
}

/* utilities */

.text-center {
  text-align: center;
}
